.content {
  flex-grow: 1;
  background-color: #fafafa;
  padding: 0 16px;
  overflow-y: auto;
  overflow-y: overlay;
  z-index: 0;

  &::-webkit-scrollbar {
    width: 16px;

    &:horizontal {
      display: none;
    }

    &-thumb {
      border: 6px solid #fafafa;
      border-radius: 8px;
      background-color: #b9bec1;
    }
  }
}
