@import "../../styles/font";

.logoContainer {
  display: inline-flex;
  align-items: center;

  .logoImage {
    display: flex;
    cursor: pointer;
  }

  .divider {
    margin: 0 12px;
    height: 16px;
    width: 1px;
    background-color: var(--tap-grey3);
  }

  .label {
    @include tap-font-bold;
    @include tap-font-16;
    color: var(--tap-grey5);
    cursor: pointer;

    &:hover {
      color: var(--tap-grey5);
      text-decoration: none;
    }
  }
}
