@import "../../styles/font";

.logo {
  display: inline-flex;
  align-items: center;

  .logoImage {
    display: flex;

    svg {
      width: auto;
      height: 100%;
    }

    &.reversed svg * {
      fill: #fff;
    }
  }

  .divider {
    margin: 0 12px;
    height: 16px;
    width: 1px;
    background-color: var(--tap-grey3);
  }

  .label {
    @include tap-font-bold;
    @include tap-font-16;
    color: var(--tap-grey5);
    cursor: pointer;

    &:hover {
      color: var(--tap-grey5);
      text-decoration: none;
    }
  }
}
