@import "/src/styles/font";

.logoContainer {
  height: 24px;
  display: inline-flex;
  align-items: center;
}

.logoImage {
  height: 100%;
  cursor: pointer;

  img {
    height: 100%;
    transform: translateY(1px);
  }
}

.divider {
  margin: 0 12px;
  height: 16px;
  width: 1px;
  background-color: var(--tap-grey3);
}

.label {
  @include tap-font-bold;
  @include tap-font-16;
  color: var(--tap-grey5);
  cursor: pointer;

  &:hover {
    color: var(--tap-grey5);
    text-decoration: none;
  }
}
