include:
  - project: sre/gitlab-ci-templates
    ref: v1.0.5
    file:
      - /shared/build-and-push-image.yml
      - /shared/deploy-kubefiles.yml

stages:
  - build
  - image
  - deploy-staging
  - deploy-production

build:
  stage: build
  image: node:17.6.0
  before_script:
    - yarn --version
    - yarn install
  script:
    - "yarn build --out-dir build-cn"
    - "sh .ci/build-hk.sh"
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules
  artifacts:
    paths:
      - build-cn
      - build-hk
  only:
    - master

build-and-push-image:
  stage: image
  extends:
    - .build-and-push-image
  variables:
    DOCKER_REGISTRY_NAMESPACE: tds
    DOCKER_REGISTRY_REPO: tapsdkdoc
  dependencies:
    - build
  only:
    - master

deploy-staging:
  stage: deploy-staging
  extends:
    - .deploy-kubefiles-staging
  variables:
    PROJECT_PATH: tds/tapsdkdoc
  when: on_success
  only:
    - master

deploy-production:
  stage: deploy-production
  extends:
    - .deploy-kubefiles-production
  variables:
    PROJECT_PATH: tds/tapsdkdoc
  only:
    - master
