.input {
  flex-basis: 48px;
  flex-shrink: 0;
  border-bottom: 1px solid #ebeff0;
  display: flex;
  flex-direction: row;
  align-items: center;

  form {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
      flex-grow: 1;
      height: 100%;
      padding: 0 0 0 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      opacity: 0.3;
      transition: opacity 0.1s;

      &:focus-within {
        opacity: 1;
      }

      .icon.active path {
        fill: #15c5ce;
      }

      input {
        flex-grow: 1;
        height: 100%;
        padding: 0;
        outline: none;
        border: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #1d2127;
        caret-color: #15c5ce;

        &::placeholder {
          color: #b9bec1;
        }
      }
    }

    .clearButton {
      height: 100%;
      padding: 0 16px;
      border: none;
      background: none;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:focus,
      &:hover {
        svg path {
          fill: #15c5ce;
        }
      }
    }
  }

  .divider {
    width: 1px;
    height: 16px;
    background-color: #ebeff0;
  }

  .cancelButton {
    height: 100%;
    padding: 0 20px 0 16px;
    border: none;
    background: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #15c5ce;
    cursor: pointer;

    &:focus,
    &:hover {
      color: #44d1d8;
    }
  }
}
