.markdown {

  > h1 {
    --ifm-h1-font-size: 2.4rem;
    color: var(--tap-grey7);
  }

  > h2 {
    --ifm-h2-font-size: 1.7rem;
    color: var(--tap-grey7);
  }

  > h3, > h4, > h5, > h6 {
    color: var(--tap-grey7);
  }
}
