@import "../../styles/font";

.markdown {
  > header > h1 {
    @include tap-font-24;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem !important;
  }

  > h2 {
    @include tap-font-20;
  }

  > h3 {
    @include tap-font-16;
  }

  > header > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    color: var(--tap-grey7);
  }
}

.breadcrumbs__link > svg {
  top: 3.5px;
}
