.wrapper {
  height: 46px;
  padding: 0 16px 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  .content {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;

    .icon {
      flex-basis: 14px;
      flex-shrink: 0;
      display: flex;
    }

    h3 {
      margin: 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #1d2127;
    }
  }

  .clearButton {
    margin: -4px;
    padding: 4px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;

    &:focus,
    &:hover {
      svg path {
        fill: #15c5ce;
      }
    }
  }
}

.excerpt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
