@mixin tap-font-regular {
  font-weight: var(--tap-font-regular);
}

@mixin tap-font-bold {
  font-weight: var(--tap-font-medium);
}

@mixin tap-font-10 {
  font-size: 10px;
  line-height: 14px;
}

@mixin tap-font-12 {
  font-size: 12px;
  line-height: 18px;
}

@mixin tap-font-14 {
  font-size: 14px;
  line-height: 22px;
}

@mixin tap-font-16 {
  font-size: 16px;
  line-height: 24px;
}

@mixin tap-font-18 {
  font-size: 18px;
  line-height: 26px;
}

@mixin tap-font-20 {
  font-size: 20px;
  line-height: 28px;
}

@mixin tap-font-24 {
  font-size: 24px;
  line-height: 32px;
}

@mixin tap-font-30 {
  font-size: 30px;
  line-height: 38px;
}
