@import "variable";
@import "override";
@import "font";
@import "animation";

html {
  @include tap-font-14;
  font-family: var(--tap-font-family);
  color: var(--tap-grey6);
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: var(--ifm-scrollbar-size);
  height: var(--ifm-scrollbar-size);

  &-thumb {
    border-radius: var(--tap-border-radius-base);
    background: var(--ifm-scrollbar-thumb-background-color);
  }

  &-track {
    border-radius: var(--tap-border-radius-base);
  }
}
