:root {
  --ifm-color-primary: #15c5ce;
  --ifm-color-primary-dark: #13b1b9;
  --ifm-color-primary-darker: #12a7af;
  --ifm-color-primary-darkest: #0f8a90;
  --ifm-color-primary-light: #17d9e3;
  --ifm-color-primary-lighter: #1ddee8;
  --ifm-color-primary-lightest: #3ce3eb;
  --ifm-code-font-size: 95%;
  --ifm-navbar-link-color: var(--tap-grey6);
  --ifm-dropdown-link-color: var(--tap-grey6);
  --ifm-footer-height: 332px;
  --ifm-footer-color: #fff;
  --ifm-footer-background-color: var(--tap-grey7);
}
