:root {
  --ifm-color-primary: #15c5ce;
  --ifm-color-primary-dark: #13b1b9;
  --ifm-color-primary-darker: #12a7af;
  --ifm-color-primary-darkest: #0f8a90;
  --ifm-color-primary-light: #17d9e3;
  --ifm-color-primary-lighter: #1ddee8;
  --ifm-color-primary-lightest: #3ce3eb;
  --ifm-code-font-size: 95%;
  --ifm-navbar-link-color: var(--tap-grey6);
  --ifm-dropdown-link-color: var(--tap-grey6);
  --ifm-dropdown-hover-background-color: var(--tap-grey0);
  --ifm-menu-color-background-active: var(--tap-grey0);
  --docsearch-text-color: var(--tap-grey4);
  --docsearch-searchbox-background: var(--tap-grey1);
  --docsearch-searchbox-focus-background: var(--tap-grey1);
  --ifm-global-shadow-md: var(--tap-box-shadow-3);
  --ifm-footer-max-width: 1280px;
  --ifm-footer-color: #fff;
  --ifm-footer-background-color: var(--tap-grey7);
}

.main-wrapper {
  display: flex;

  & > * {
    width: 100%;
  }
}