/* source: ~infima/dist/css/default/default.css */
@import "font";

:root {
  --ifm-code-font-size: 95%;
  --ifm-color-emphasis-300: var(--tap-grey2);
  --ifm-color-primary: #15c5ce;
  --ifm-color-primary-dark: #13b1b9;
  --ifm-color-primary-darker: #12a7af;
  --ifm-color-primary-darkest: #0f8a90;
  --ifm-color-primary-light: #17d9e3;
  --ifm-color-primary-lighter: #1ddee8;
  --ifm-color-primary-lightest: #3ce3eb;
  --ifm-dropdown-hover-background-color: var(--tap-grey0);
  --ifm-dropdown-link-color: var(--tap-grey6);
  --ifm-global-shadow-md: var(--tap-box-shadow-3);
  --ifm-hr-border-color: var(--tap-grey2);
  --ifm-leading: 1em;
  --ifm-menu-color-background-active: #effbfc;
  --ifm-menu-color-background-hover: #fafafa;
  --ifm-menu-link-padding-horizontal: 19px;
  --ifm-menu-link-padding-vertical: 7px;
  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.705 9.705L8 7.415L10.295 9.705L11 9L8 6L5 9L5.705 9.705Z" fill="rgba(0,0,0,0.5)" /></svg>');
  --ifm-navbar-height: 56px;
  --ifm-navbar-link-color: var(--tap-grey6);
  --ifm-navbar-padding-horizontal: 24px;
  --ifm-scrollbar-size: 6px;
  --ifm-scrollbar-thumb-background-color: #e4e7e8;
  --ifm-scrollbar-thumb-hover-background-color: #e4e7e8;
  --ifm-scrollbar-track-background-color: transparent;
  --ifm-table-stripe-background: var(--ifm-table-background);
  --ifm-toc-border-color: var(--tap-grey2);
}

.table-of-contents {
  @include tap-font-14;
  position: relative;

  ul {
    @include tap-font-12;
  }

  strong {
    @include tap-font-regular;
  }

  &__link--active {
    &:before {
      content: "";
      position: absolute;
      left: -1px;
      margin-top: 0.25em;
      width: 2px;
      height: 1em;
      background-color: var(--ifm-color-primary);
    }
  }
}

.pagination-nav {
  padding-top: 2.4rem;

  &__sublabel {
    color: var(--tap-grey5);
  }

  &__label {
    margin-top: 4px;
    color: var(--tap-grey6);
  }
}
