:root {
  --tap-primary-color: #15c5ce;
  --tap-grey7: #1D2127;
  --tap-grey6: #52575D;
  --tap-grey5: #868C92;
  --tap-grey4: #B9BEC1;
  --tap-grey3: #D2D7D9;
  --tap-grey2: #EBEFF0;
  --tap-grey1: #F5F5F5;
  --tap-grey0: #FAFAFA;
}