@media not ((min-width: 840px) and (min-height: 680px)) {
  .feedback {
    display: none;
  }
}

.noScroll {
  overflow: hidden !important;
}

.selectionFeedbackBtn {
  position: absolute;
  user-select: none;
  z-index: 99;
  box-shadow: 0 3px 14px rgba(45, 47, 51, 0.12);
  border-radius: 2px;
  border: none;
  background-color: #fff;
  color: #15c5ce;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;
  cursor: pointer;

  .icon {
    width: 14px;
    height: 14px;
  }

  span {
    line-height: 18px;
    font-weight: 500;
    font-size: 12px;
  }

  &:hover {
    background-color: #44d1d8;
    color: #fff;

    .icon path {
      fill: #fff;
    }
  }
}

.paragraphFeedbackBtn {
  position: absolute;
  z-index: 99;
  box-shadow: 0 3px 14px rgba(45, 47, 51, 0.12);
  border-radius: 4px;
  border: none;
  background-color: #fff;
  padding: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .tip {
    position: absolute;
    top: 0;
    left: -6px;
  }

  .icon {
    width: 12px;
    height: 12px;
  }

  &:hover {
    background-color: #44d1d8;

    .tip path {
      fill: #44d1d8;
    }

    .icon path {
      fill: #fff;
    }
  }
}

.pageFeedbackBtn {
  position: fixed;
  right: 40px;
  bottom: 80px;
  width: 40px;
  height: 40px;
  box-shadow: 0 3px 14px rgba(45, 47, 51, 0.12);
  border: none;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  .tooltip {
    display: none;
    position: absolute;
    top: 3px;
    right: 49px;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.04), 0 8px 32px rgba(0, 0, 0, 0.08);

    span {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #4b4b4b;
      white-space: nowrap;
    }

    .tip {
      position: absolute;
      right: -6px;
      top: 4px;
      transform: rotate(180deg);
    }
  }

  .icon {
    width: 18px;
    height: 18px;
  }

  .badge {
    position: absolute;
    left: 24px;
    bottom: 20px;
    border-radius: 10px;
    background-color: #effbfc;
    color: #15c5ce;
    padding: 1px 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  &:hover {
    background-color: #44d1d8;

    .tooltip {
      display: block;
    }

    .icon path {
      fill: #fff;
    }
  }
}

.feedbackModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dialog {
  box-shadow: 0 12px 42px rgba(45, 47, 51, 0.24);
  border-radius: 4px;
  max-width: 900px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &.tall {
    max-height: 700px;
  }

  a {
    color: #15c5ce;
  }

  header {
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin: 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      color: #1d2127;
    }

    .close {
      border: none;
      background: none;
      padding: 0;
      display: flex;
      cursor: pointer;

      .icon {
        width: 14px;
        height: 14px;
      }
    }
  }

  .empty,
  .body {
    box-shadow: 0 0 0 1px #ebeff0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .empty {
    padding: 111px 0 0;
    align-items: center;
    gap: 16px;

    .icon {
      width: 160px;
      height: 160px;
    }
  }

  .body {
    justify-content: space-between;

    .main {
      flex-basis: 0;
      flex-grow: 1;
      padding: 24px 32px 8px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      overflow-y: auto;
      overflow-y: overlay;

      &::-webkit-scrollbar {
        width: 16px;

        &:horizontal {
          display: none;
        }

        &-thumb {
          border: 6px solid #fff;
          border-radius: 8px;
          background-color: #ebeff0;
        }
      }

      .loose,
      .tight {
        display: flex;
        flex-direction: column;
      }

      .loose {
        gap: 12px;
      }

      .tight {
        gap: 8px;
      }
    }

    footer {
      padding: 16px 32px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .info {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #868c92;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;

        .icon {
          width: 16px;
          height: 16px;
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        &.hidden {
          visibility: hidden;
        }

        button {
          width: 88px;
          height: 36px;
          border: none;
          border-radius: 4px;
          background: none;
          color: #52575d;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          cursor: pointer;

          &.primary {
            background-color: #15c5ce;
            color: #fff;
            font-weight: 500;
          }

          &:disabled {
            background-color: #f5f5f5;
            box-shadow: 0 0 0 1px inset #d2d7d9;
            color: #b9bec1;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

.subtitle {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1d2127;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  .icon {
    width: 8px;
    height: 8px;
  }
}

.threads {
  border-radius: 8px;
  height: 240px;
  background-color: #fafafa;
  padding: 0 16px;
  overflow-y: auto;
  overflow-y: overlay;

  &::-webkit-scrollbar {
    width: 16px;

    &:horizontal {
      display: none;
    }

    &-thumb {
      border: 6px solid #fafafa;
      border-radius: 8px;
      background-color: #ebeff0;
    }
  }

  &.tall {
    height: 306px;
  }

  .thread {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &:nth-child(n + 2) {
      border-top: 1px solid #ebeff0;
    }

    .post {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #52575d;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .meta {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        img {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          object-fit: cover;
        }

        .muted {
          font-size: 12px;
          line-height: 18px;
          color: #868c92;
        }
      }

      p {
        margin: 0;
      }
    }
  }
}

.options {
  display: flex;
  flex-direction: row;
  gap: 40px;

  .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    input {
      appearance: none;
      margin: 0;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      box-shadow: 0 0 0 1px inset #d2d7d9;
      background-color: #fff;

      &:checked {
        box-shadow: 0 0 0 1px inset #15c5ce, 0 0 0 4px inset #fff;
        background-color: #15c5ce;
      }
    }

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #52575d;

      .name {
        font-weight: 500;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;

  textarea {
    border: 1px solid #d2d7d9;
    border-radius: 4px;
    height: 90px;
    padding: 8px 12px;
    font-family: inherit;
    color: #52575d;
    resize: none;

    &::placeholder {
      color: #b9bec1;
    }
  }

  .count {
    align-self: flex-end;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #b9bec1;
  }
}

.toastWrapper {
  position: fixed;
  top: 96px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;

  .toast {
    background-color: #fff;
    border-radius: 4px;
    padding: 8px 16px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.04), 0 8px 32px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    .icon {
      width: 18px;
      height: 18px;
    }

    span {
      color: #4b4b4b;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }
  }
}
