@import "../../styles/font";

.footer {
  background-color: var(--tap-grey7);

  .stage {
    @include tap-font-12;
    color: var(--tap-grey5);

    margin: 0 auto;
    max-width: 1280px;
    padding: 72px 40px;

    display: flex;
    flex-direction: column;
    gap: 9px;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 64px;

      & > section {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 24px;
      }

      .discord > a {
        &:hover {
          text-decoration: none;
        }

        div {
          background-color: #5865f2;
          color: #fff;
          padding: 0.75rem 1rem;
          font-size: 1rem;
          font-weight: 500;
          border-radius: 4px;
          display: inline-flex;
          align-items: center;
          justify-content: space-between;
          gap: 2rem;

          & > span {
            display: flex;
            align-items: center;
            gap: 0.75rem;

            & > svg {
              height: 1em;
            }
          }

          & > svg {
            height: 0.75em;
          }

        }
      }

      .navItem {
        display: inline-block;
        position: relative;
        margin: 0 16px 0 0;
        color: var(--tap-grey3);

        &:hover {
          color: var(--tap-grey3);
          text-decoration: none;
        }

        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: -8px;
          width: 1px;
          height: 8px;
          transform: translateY(-50%);
          background-color: var(--tap-grey2);
          opacity: 0.5;
          pointer-events: none;
        }

        &:last-child:after {
          display: none;
        }
      }

      .info,
      .licence {
        display: flex;
        flex-direction: column;
        gap: 9px;
      }

      .licenceItem {
        display: flex;
        align-items: center;
        color: var(--tap-grey5);

        &:hover {
          color: var(--tap-grey5);
          text-decoration: none;
        }

        img {
          height: 12px;
          margin-right: 4px;
        }
      }
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;

      .licence {
        align-items: flex-end;
      }
    }
  }
}
