@import "../styles/font";

.main {
  background-color: var(--tap-grey1);

  .stage {
    margin: 0 auto;
    max-width: 1280px;
    padding: 96px 24px 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  .title {
    @include tap-font-bold;
    @include tap-font-30;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  .cta {
    @include tap-font-16;
    @include tap-font-bold;
    min-width: 184px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ifm-color-primary);
    color: #fff;
    border-radius: var(--tap-border-radius-base);
    transition: background-color 300ms;

    &:hover {
      color: #fff;
      background-color: #44d1d8;
      text-decoration: none;
    }
  }
}

$entry-cell-width: 288px;
$entry-cell-height: 232px;

.entries {
  display: grid;
  grid-template-columns: repeat(4, $entry-cell-width);
  grid-auto-rows: $entry-cell-height;
  justify-content: center;
  gap: 16px;

  @media only screen and (max-width: 1279px) {
    grid-template-columns: repeat(2, $entry-cell-width);
  }

  @media only screen and (max-width: 661px) {
    grid-template-columns: $entry-cell-width;
  }

  .entry {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: var(--tap-border-radius-base);
    box-shadow: 0 0 0 1px var(--tap-grey2) inset, 0 3px 0 var(--tap-grey2) inset;
    transition: box-shadow 300ms;
    padding: 36px 24px 24px;
    color: var(--tap-grey6);

    &:hover {
      box-shadow: 0 0 0 0 var(--tap-grey2) inset,
        0 3px 0 var(--ifm-color-primary) inset, var(--tap-box-shadow-2);
    }
  }
}

.entryText {
  display: inline-flex;
  flex-direction: column;
  gap: 18px;

  .entryTitle {
    @include tap-font-bold;
    @include tap-font-24;
  }
}

.entryActions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .entryAction {
    @include tap-font-16;
    position: relative;
    margin: 0 48px 0 0;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: -24px;
      width: 1px;
      height: 14px;
      transform: translateY(-50%);
      background-color: var(--tap-grey3);
      pointer-events: none;
    }

    &:last-child:after {
      display: none;
    }
  }
}
