@import "../styles/font";

.container {
  text-align: center;
  padding: 64px 0;
  background-color: var(--tap-grey1);
  min-height: calc(100vh - var(--ifm-navbar-height) - var(--ifm-footer-height));
}

.topTitle {
  @include tap-font-bold;
  @include tap-font-30;
  height: 38px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 16px;

  img {
    height: 100%;
    margin-right: 8px;
  }
}

.topSubtitle {
  margin-bottom: 36px;
}

.topEntryButton {
  @include tap-font-16;
  @include tap-font-bold;
  cursor: pointer;
  margin-bottom: 76px;
  min-width: 184px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tap-primary-color);
  color: #fff;
  border-radius: var(--tap-border-radius-base);
}

.entryContainer {
  text-align: center;

}

.entryCell {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 288px;
  height: 232px;
  background-color: #fff;
  border: 1px solid var(--tap-grey2);
  border-radius: var(--tap-border-radius-base);
  border-top: 3px solid var(--tap-grey2);
  transition: border-top-color 300ms;
  padding: 36px 16px 24px 24px;
  text-align: left;
  color: var(--tap-grey6);
  margin: 8px;

  &:hover {
    border-top: 3px solid var(--tap-primary-color);
  }
}

.entryCellTitle {
  @include tap-font-bold;
  @include tap-font-24;
  margin-bottom: 18px;
}

.entryCellActionButton {
  display: inline-block;
  vertical-align: top;
}

.entryCellActionButtonLarge {
  position: relative;
  text-align: center;
  width: 50%;

  &:nth-child(odd):after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 16px;
    background-color: var(--tap-grey3);
  }
}