@import "../styles/font";

.container {
  background-color: var(--tap-grey1);
}

.containerContent {
  text-align: center;
  padding: 96px 24px 124px;
  margin: auto;
  max-width: var(--ifm-footer-max-width);
}

.topTitle {
  @include tap-font-bold;
  @include tap-font-30;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px;

  img {
    height: 38px;
    margin-right: 8px;
  }
}

.topSubtitle {
  margin-bottom: 36px;
}

.topEntryButton {
  @include tap-font-16;
  @include tap-font-bold;
  cursor: pointer;
  margin-bottom: 76px;
  min-width: 184px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tap-primary-color);
  color: #fff;
  border-radius: var(--tap-border-radius-base);
  transition: background-color 300ms;

  &:hover {
    color: #fff;
    background-color: #44D1D8;
    text-decoration: none;
  }
}

$entry-cell-width: 288px;
$entry-cell-height: 232px;

.entryContainer {
  text-align: center;
  margin: auto;
  @media only screen and (max-width: 1279px) {
    max-width: $entry-cell-width * 2.5;
  }
}

.entryCell {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: $entry-cell-width;
  height: $entry-cell-height;
  background-color: #fff;
  border: 1px solid var(--tap-grey2);
  border-radius: var(--tap-border-radius-base);
  border-top: 3px solid var(--tap-grey2);
  transition: border-top-color 300ms, box-shadow 300ms;
  padding: 36px 16px 24px 24px;
  text-align: left;
  color: var(--tap-grey6);
  margin: 8px;

  &:hover {
    border-top: 3px solid var(--tap-primary-color);
    box-shadow: var(--tap-box-shadow-2)
  }
}

.entryCellTitle {
  @include tap-font-bold;
  @include tap-font-24;
  margin-bottom: 18px;
}

.entryCellActionContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.entryCellActionButton {
  @include tap-font-16;
}

.entryCellActionDivider {
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: var(--tap-grey3);
  margin: 0 24px;
}

