@import "../../../styles/font";

.main {
  background-color: var(--tap-grey1);

  .stage {
    margin: 0 auto;
    max-width: 1280px;
    padding: 96px 24px 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  .title {
    @include tap-font-bold;
    @include tap-font-30;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  .cta {
    @include tap-font-16;
    @include tap-font-bold;
    min-width: 184px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ifm-color-primary);
    color: #fff;
    border-radius: var(--tap-border-radius-base);
    transition: background-color 300ms;

    &:hover {
      color: #fff;
      background-color: #44d1d8;
      text-decoration: none;
    }
  }
}

.filter {
  select {
    @include tap-font-16;
    min-width: 184px;
    padding: 0 16px;
    height: 50px;
    border-radius: var(--tap-border-radius-base);
    border: 1px solid var(--ifm-color-primary);
    background-color: #fff;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 16px top 50%;
    background-size: 8px auto;
  }
}

$entry-cell-height: 240px;

.entries {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax($entry-cell-height, 1fr);
  justify-content: center;
  gap: 16px;

  &.narrow {
    grid-template-columns: repeat(4, 1fr);
  }

  &.medium {
    grid-template-columns: repeat(3, 1fr);
  }

  &.wide {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 1279px) {
    &.narrow,
    &.medium,
    &.wide {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media only screen and (max-width: 661px) {
    &.narrow,
    &.medium,
    &.wide {
      grid-template-columns: 1fr;
    }
  }

  .entry {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: var(--tap-border-radius-base);
    box-shadow: 0 0 0 1px var(--tap-grey2) inset, 0 3px 0 var(--tap-grey2) inset;
    transition: box-shadow 300ms;
    padding: 36px 24px 24px;
    color: var(--tap-grey6);

    &:hover {
      box-shadow: 0 0 0 0 var(--tap-grey2) inset,
        0 3px 0 var(--ifm-color-primary) inset, var(--tap-box-shadow-2);
    }
  }
}

.entryText {
  display: inline-flex;
  flex-direction: column;
  gap: 18px;

  .entryTitle {
    @include tap-font-bold;
    @include tap-font-24;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .entryTag {
      position: relative;
      font-size: 1rem;
      padding: 0 8px;
      color: var(--ifm-color-primary);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--ifm-color-primary);
        opacity: 0.06;
        border-radius: 4px;
      }
    }
  }
}

.entryActions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .entryAction {
    @include tap-font-16;
    position: relative;
    margin: 0 48px 0 0;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: -24px;
      width: 1px;
      height: 14px;
      transform: translateY(-50%);
      background-color: var(--tap-grey3);
      pointer-events: none;
    }

    &:last-child:after {
      display: none;
    }
  }
}
