@import "../../styles/font";

.navbar__toggle {
  color: var(--tap-grey5);
}

.navbar__link {
  font-weight: var(--tap-font-regular);

  &:hover, &--active {
    text-decoration: none;
  }

  &:after {
    border-width: 6px 6px 0 !important;
  }
}

.dropdown__link {
  @include tap-font-14;
  font-weight: var(--tap-font-regular);
}

.DocSearch-Button {
  &-Keys {
    display: none;
  }
}

.DocSearch-Commands {
  display: none;
}

.dropdown__menu {
  margin-top: 16px;

  &:before {
    position: absolute;
    bottom: 100%;
    content: '';
    height: 16px;
    width: 100%;
  }
}

.navbar__item .navbar__link:after {
  color: var(--tap-grey5);
}