.navbar__link {
  font-weight: var(--tap-font-regular);

  &:hover, &--active {
    color: var(--tap-grey6);
    text-decoration: none;
  }
}

.dropdown__link {
  font-weight: var(--tap-font-regular);
}

.DocSearch-Button {
  &-Keys {
    display: none;
  }
}

.dropdown__menu {
  margin-top: 16px;

  &:before {
    position: absolute;
    bottom: 100%;
    content: '';
    height: 16px;
    width: 100%;
  }
}

.navbar__item .navbar__link:after {
  color: var(--tap-grey5);
}