.root {
  width: 100%;
  height: auto;
  position: relative;


  .selectPosition {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 25px;
    width: 120px;
    border-radius: 5px;
  }

}


h2 {
  font-size: 24px;
  line-height: 28px;
  margin: 40px 0px 20px;

}

h3 {
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin: 24px 0px 16px;
}

