.root {
  width: 100%;
  height: auto;
  position: relative;


  .selectPosition {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 25px;
    width: 120px;
    border-radius: 5px;
  }

}

h2 {
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-size: 16px;
  line-height: 24px;

}


