.root {
  width: 100%;
  height: auto;
  position: relative;


  .selectPosition {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 25px;
    width: 120px;
    border-radius: 5px;
  }


  

}

