.popup {
  position: relative;

  span {
    text-decoration: underline dotted rgba(0, 0, 0, 0.5);
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    cursor: help;
  }

  .content {
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.1),
      0 0 0 1px inset rgba(0, 0, 0, 0.05);
    padding: 16px;
    width: 300px;
    border-radius: 4px;
    transition: all 0.1s ease-out;
    transition-delay: 0.2s;
    opacity: 0;
    visibility: hidden;
  }

  &:hover,
  &:focus {
    .content {
      bottom: 24px;
      opacity: 1;
      visibility: visible;
    }
  }
}
