@import "../../styles/font";

.footerContainer {
  background-color: var(--tap-grey7);
}

.footerContent {
  position: relative;
  max-width: var(--ifm-footer-max-width);
  padding: 72px 40px;
  margin: 0 auto;
  color: #fff;
  @media screen and (max-width: 767px) {
    height: auto;
  }
}

.logoRow {
  margin-bottom: 40px;
}

.linkRow {
  margin-bottom: 40px;
}

.linkItem {
  @include tap-font-12;
  display: inline-block;
  position: relative;
  margin: 0 16px 0 0;
  color: var(--tap-grey3);

  &:after {
    pointer-events: none;
    position: absolute;
    content: "";
    height: 8px;
    width: 1px;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--tap-grey2);
    opacity: 0.5;
  }

  &:hover {
    color: var(--tap-grey3);
    text-decoration: none;
  }

  &:last-child:after {
    display: none;
  }
}

.recordRow {
  position: absolute;
  right: 40px;
  bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (max-width: 767px) {
    margin-top: 32px;
    position: relative;
    align-items: flex-start;
    right: 0;
    bottom: 0;
  }
}

.externalItem {
  @include tap-font-10;
  margin-bottom: 14px;
  color: var(--tap-grey5);
  display: flex;
  align-items: center;

  &:hover {
    color: var(--tap-grey5);
    text-decoration: none;
  }

  &:last-child {
    margin-bottom: 0;
  }

  img {
    height: 12px;
    margin-right: 4px;
  }
}
