@keyframes antSlideUpIn {
  0% {
    transform: scaleY(0.8);
    transform-origin: 0 0;
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 0 0;
    opacity: 1;
  }
}

.dropdown--hoverable:hover {
  .dropdown__menu {
    animation: antSlideUpIn 200ms running;
  }
}
